body{

	margin: 0;
	padding: 0;
	min-height: 100%;
	width: 100%;
	background: #f1f1f1;
}
.login-container{

	width: 100%;
	text-align: center;
	padding: 0;
	height: 100%;
}
.error-msg{

	color: red;
    padding: 5px;
    text-align: left;
    display: block;
}
.loader-img-with-overlay{

	position: absolute;
	width: 100%;
	height: 100%;
	text-align: center;
	background: rgba(255,255,255,0.4)
}
.loader-img-with-overlay img{

	transform: translateY(40%);
	-webkit-transform: translateY(40%);
	-moz-transform: translateY(40%);
}
.login-content{

	background: #fff;
	margin:0 auto;
	position: relative;
	padding:1.5rem;
	margin-top: 10%;
	float: none !important;
	box-shadow: 0px 2px 2px 0 #ddd;
	-webkit-box-shadow: 0px 2px 2px 0 #ddd;
	-moz-box-shadow: 0px 2px 2px 0 #ddd;
}
.create-content{

	background: #fff;
	margin:0 auto;
	padding:1.5rem;
	margin-top: 1%;
	float: none !important;
	box-shadow: 0px 2px 2px 0 #ddd;
	-webkit-box-shadow: 0px 2px 2px 0 #ddd;
	-moz-box-shadow: 0px 2px 2px 0 #ddd;
}
.login-btn:hover{

	color: #fff;
	font-weight: 600;
	background: #009680;
}
.signup-btn:hover{

	color: #fff;
	font-weight: 600;
	background: #fbd240;
}
.login-btn, .signup-btn{

	border-radius: 4px;
	width: 40%;
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
	color: #fff;
}
.create-btn{

	width: 60%;
    background: #009688;
    color: #fff;
    border: 1px solid #009588;
}
.login-btn{

	background: #009688;
	border:1px solid #009688;
}
.signup-btn{

	background: #fbd243;
	border:1px solid #fbd243;
}
.login-error{

	color: red;
}
.tickets-all .search{

	width: 100%;
	color: #666;
}
.tickets-all .input-group{

	width: 100%;
}