<div class="row">
	<div class="col-md-6 col-lg-4 col-sm-10 login-content">
		<div ng-if="showError" class="login-error">{{errorMsg}}</div>
		<form name="loginForm" ng-submit="logIn()">
		  <div class="form-group">
		    <label for="email" class="pull-left">Email</label>
		    <input type="email" class="form-control" ng-model="email" id="email" placeholder="Your Email">
		  </div>
		  <div class="form-group">
		    <label for="pwd pull-left" class="pull-left">Password</label>
		    <input type="password" class="form-control" ng-model="password" id="pwd" placeholder="Password">
		  </div>
		  <button type="submit" class="btn login-btn" ng-click="logIn()">LOGIN</button>
		</form>
	</div>
</div>
